*.mo
*.omf
ca/*.page
ca/*.xml
cs/*.page
cs/*.xml
de/*.page
de/*.xml
el/*.page
el/*.xml
en_GB/*.page
en_GB/*.xml
es/*.page
es/*.xml
eu/*.page
eu/*.xml
fi/*.page
fi/*.xml
fr/*.page
fr/*.xml
gl/*.page
gl/*.xml
hu/*.page
hu/*.xml
it/*.page
it/*.xml
pl/*.page
pl/*.xml
ru/*.page
ru/*.xml
sl/*.page
sl/*.xml
sv/*.page
sv/*.xml
zh_CN/*.page
zh_CN/*.xml
