empathy.desktop
empathy.desktop.in
org.gnome.Empathy.gschema.valid
org.gnome.Empathy.gschema.xml
org.freedesktop.Telepathy.Client.Empathy.Chat.service
org.freedesktop.Telepathy.Client.Empathy.AudioVideo.service
org.freedesktop.Telepathy.Client.Empathy.Call.service
empathy-accounts.desktop
empathy-accounts.desktop.in
org.freedesktop.Telepathy.Client.Empathy.Auth.service
org.freedesktop.Telepathy.Client.Empathy.FileTransfer.service
